<% if user_signed_in? then %>
    <% if @alert then %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:alert] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%else %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            tutti i sensori sono up
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <%end %>
<%end %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">IoT Sensor</h1>
        <p class="lead">
            Description</p>
        <hr>
        <div class="lead">
            Simon diversamente bianco, Veron comacchiese, Tito nordafricano
        </div>
    </div>
</div>



<% if user_signed_in? %>
   <h1> Benvenuto <%= current_user.email.split('@')[0] %> </h1>
<% else %>
   <h3> Effettua il login </h3>
    <%= link_to "Login", new_user_session_path ,class:"btn btn-secondary"  %>
<%end %>

<%= render_notifications @notifications, fallback: :default, target: :users,devise_default_routes: true %>

