<div id="accordion">
    <div id="type-sensor-card" class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button id="types-button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <%= link_to 'Sensor type', types_sensors_path, remote: true %>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div id="types">
                </div>
            </div>
        </div>
    </div>
    <div id="map-card" class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button id="map-button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Mappa
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div id='map-collapse'>
                    <%= render 'map' %>
                </div>
            </div>
        </div>
    </div>
    <div id="other-filter-card" class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Other
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Altri filtri...
            </div>
        </div>
    </div>
</div>
