<h1> <strong> Editing Sensor </strong></h1>

<%= render 'form', sensor: @sensor %>

<%= link_to 'Show', @sensor , class: "btn btn-secondary mt-2"%> |
<%= link_to 'Back', sensors_path , class: "btn btn-secondary mt-2"%>
